{% extends "registration/registration_base.html" %}
{% load i18n %}
{% url '/accounts/register' as register_url%}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}

<div id="fb-root"></div>

<div class="row-fluid">
	<div class="thumbnail span7 box">
		{% if form.errors %}
		<p>{% blocktrans %}Your username and password didn't match. Please try again.{% endblocktrans %}</p>
		{% endif %}
		<h2>Sign-in</h2>
		<form method="post" action="{% url 'auth_login' %}">{% csrf_token %}
		<table>
		<tr>
			
		    <td>{% trans form.username.label_tag %}</td>
		    <td>{{ form.username }}</td>
		</tr>
		<tr>
		    <td>{% trans form.password.label_tag %}</td>
		    <td>{{ form.password }}</td>
		</tr>
		</table>
		<p>{% blocktrans %}<a href="/accounts/register">Need an account</a>?{% endblocktrans %}</p>

		<input type="submit" class="btn" value="{% trans "Sign-in" %}" />		
		<input type="hidden" name="next" value="{{ next }}" />
	
		</form>
		<link href="{{ STATIC_URL }}css/facebook.css" type="text/css" rel="stylesheet" media="all" />
		{% include 'django_facebook/_facebook_js.html' %}
		<form action="{% url 'facebook_connect' %}?facebook_login=1&next=/profile" method="post">
<a href="javascript:void(0);" style="font-size: 15px;" onclick="F.connect(this.parentNode);">Connect with Facebook</a>
<input type="hidden" value="{{ request.path }}" name="next" />
<input type="hidden" value="{{ request.path }}" name="register_next" />
<input type="hidden" value="{{ request.path }}" name="error_next" />
{% csrf_token %}
</form>
	</div>
</div>
{% endblock %}
