{% extends "registration/registration_base.html" %}
{% load i18n %}
{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
<div class="row-fluid">
	<div class="thumbnail span7 box">
		{% if form.errors %}
		<p>{% blocktrans %}Your username and password didn't match. Please try again.{% endblocktrans %}</p>
		{% endif %}
		<h2>Sign-in</h2>
		<form method="post" action="{% url 'auth_login' %}">{% csrf_token %}
		<table>
		<tr>
		    <td>{% trans form.username.label_tag %}</td>
		    <td>{{ form.username }}</td>
		</tr>
		<tr>
		    <td>{% trans form.password.label_tag %}</td>
		    <td>{{ form.password }}</td>
		</tr>
		</table>
		<p>{% blocktrans %}<a href="{{ auth_pwd_reset_url }}">Forgot</a> your password?
		    <a href="{{ register_url }}">Need an account</a>?{% endblocktrans %}</p>

		<input type="submit" class="btn" value="{% trans "Sign-in" %}" />
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>
{% endblock %}
