{%extends "base.html"%}
{%block content%}
<div class="about thumbnail box">
	<h2>About Us</h2>
	Our goal is to make it easy for students at the University of Florida to create potential schedules for their semester.  <br/><br/>
	<p> We have many ideas for upcoming features, which include:
	<li> Recommends courses to keep you on track to graduate. </li>
	<li> See if your friends are in particular classes. </li>
	<li> Easily share your schedules via facebook, and see what your friends are taking! </li> 
	</p>
	
	<strong>Team Members:</strong> Justin Hundley, Jordan Fari&ntilde;as, Evan Bass, Daniel Parra, Zak Miller, Jonathan Burnett, Kevin Jeyakumar, Erich Anderson, Ricardo Godinez Jr.
</div>
{%endblock%}
