{%extends "base.html"%}
{%block content%}
<div class="about thumbnail box">
	<h2>About Us</h2>
	Our goal is to make it easy for students at the University of Florida to create potential schedules for their semester.  With our tool, students can view possible schedule options within a clean interface instead of stressing about ISIS loading problems and not being able to know about what schedule options are possible.<br/><br/>
	<strong>Team Members:</strong> Justin Hundley, Jordan Fari&ntilde;as, Evan Bass, Daniel Parra, Zak Miller, Jonathan Burnett, Kevin Jeyakumar, Erich Anderson, Ricardo Godinez Jr.
</div>
{%endblock%}
