{%extends "base.html"%}
{%block content%}
    <div class="row-fluid">
        <div class="thumbnail span7 box">
            <h2>Courses Offered</h2>
            <br/>
            {% if results %}
            <table class="table-striped" id="results-table" cellpadding="5px">
                <tr>
                    <th>Course Number</th>
                    <th>Course Name</th>
                    <th>Section</th>
                    <th>Credits</th>
                </tr>
                  {% for result in results %}
                      {% if not forloop.first %}
                      <tr>
                          <td> {{ result.name }}</td>
                          <td>{{ result.cname }}</td>
                          <td>{{ result.section }}</td>
                          <td>{{ result.cedits }}</td>
                      </tr>
                      {%endif%}
                  {% endfor %}
            </table>
            {% else %}
            <form method="get" action="/search/">
              Search Courses: <input type="text" class="no-margin" name="q" id="id_q" value="{{ query }}"/>
              <input type="submit" class="btn" value="Search" />
            </form>
            {% endif %}
        </div>
    </div>
{%endblock%}
