<style type="text/css">
/* Footer
----------------------------------*/
#footerDiv{
   background: #202120;
   position: fixed;
   bottom: 0px;
   right: 0px;
   z-index: 100;
   width: 100%;
}

body { font: 14pt 'Alike', sans-serif;}

#footerPadding{
    padding-top:15px;
}

#tossFooter2{
   position:absolute;
   bottom:0;
   width:100%;
   height:22px;   
  /* background:#212123;*/
}

.whiteFooter1{
    color: #ffffff;
    font-size: .8em;
}

</style>

<div id="footerDiv">
	<center>
		<div id="footerWidth">
			<table>
				<tr height="30px">
				  <td valign="middle" class="whiteFooter1">&copy; 2013 ScheduleGator</td>
				</tr>
			</table>
		</div>  
	</center>
</div>