{%extends "base.html"%}
{%block content%}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=579603358778683";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<div class="thumbnail box">
		<h1>Welcome to ScheduleGator!</h1>
		<p>ScheduleGator is a web application built for University of Florida students. With ScheduleGator you can generate a schedule tailored to your lifestyle! Courses are selected based on professor rating and average GPA while accommodating your timing preferences and keeping you on track to graduate. ScheduleGator is now in open beta! </p>
		
		<table width="95%" border="0" cellpadding="50" style="text-align:center;">
			<tr>
				<td style="width:30%;">
					<h2> Get the best professors with Rate My Professor integration </h2> 
					<p>Be taught by the best instructors and TAs UF has to offer. </p> 
					<img src="% static 'images/rmplogo.jpg' %" height="75px" />
				</td>
				
				<td style="width:30%;">
					<h2> No more early morning or late night classes </h2>
					<p>Get class times to fit your schedule and personal preferences. </p>
					<img src="% static 'images/clock.png' %" height="75px" /> </p>
				</td>
				
				<td style="width:30%">
					<h2> Easily search and browse courses </h2>
					<p> Search by course, department, or professor using our clean interface. </p>
					<img src="% static 'images/isis.png' %" height="85px" /> </p>
				</td>
			</tr>
		</table>

		
		<hr>
		<h2> Get started with these easy steps: </h2> 
		<ol>
			<li> Browse courses and view professor ratings </li>
			<li> Add classes you're interested to the schedule creator.  </li> 
			<li> Choose your timing preferences. </li>
			<li> Decide how many credits you want to take. </li>
			<li> Automatically generate your course schedule </li> 
		</ol>
		<div class="fb-like" data-href="http://schedulegator.com" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="standard" data-action="like" data-show-faces="true" data-send="false"></div>
	</div>
{%endblock%}
