{% load cache %}
<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
<a class="brand" href="{%url 'home'%}">ScheduleGator</a>
<div class="nav-collapse collapse">
	<ul class="nav">
		<li>
			<a href="#">Create Schedule</a>
		</li>
		<li>
			<a href="/courses">Courses</a>
		</li>
		<li>
			<a href="/about">About</a>
		</li>
		{% if user.is_anonymous%}
		<li class="mobile-menu-item">
			<a href="/accounts/login" data-toggle="modal">Sign In</a>
		</li>
		<li class="mobile-menu-item">
			<a href="/accounts/register" data-toggle="modal">Register</a>
		</li>
		{% else %}
		<li class="mobile-menu-item">
			<a href="/profile">Profile</a>
		</li>
		<li class="mobile-menu-item">
			<a href="/accounts/logout">Logout</a>
		</li>
		{% endif %}
	</ul>
</div>
