{%extends "base.html"%}
{%block content%}
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
//Toggle button text
$(document).ready(function(){
    $("#courseSchedule").hide();
    $("#weeklyPlannerDiv").hide();

  $("#weeklyPlannerSchedule").click(function(){
    $("#weeklyPlannerSchedule").hide();
    $("#courseSchedule").fadeIn(500);
    $("#courseScheduleDiv").hide();
    $("#weeklyPlannerDiv").fadeIn(500);
  });
  
  $("#courseSchedule").click(function(){
    $("#courseSchedule").hide();
    $("#weeklyPlannerSchedule").fadeIn(500);
    $("#weeklyPlannerDiv").hide();
    $("#courseScheduleDiv").fadeIn(500);
  });
});

</script>
</head>
    <div class="row-fluid">
        <div class="thumbnail span4 box">
            <h2>Options</h2><br>

            <h4>Toggle Schedule View:</h4>
            <button id="weeklyPlannerSchedule" class="scheduleButtons" >View Weekly Planner</button>
            <button id="courseSchedule" class="scheduleButtons">View Course Schedule</button><br><br>

            <h4>Past Schedules:</h4>
            <p><a href="/pasth"><button id= "pastSchedules" class="scheduleButtons">Obtain Past Course History</button></a> </p>
         </div>
      
        <div class="thumbnail span8 box">
            <font size="10">{{ user.username }}'s User Profile</font><br> 
            <h3>Current Schedule</h3>
            

            <div id="weeklyPlannerDiv" class="currentSchedule">
              <table id="weeklyPlanner-table" class="table table-bordered" style= "display:">
                  <tr>
                    <th>Period</th>
                    <th></th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                  </tr>
                  <tr>
                    <td>1
                    </td>
                    <td>7:25
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td>2
                    </td>
                    <td>8:30
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td>3
                    </td>
                    <td>9:35
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td>4
                    </td>
                    <td>10:40
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td>5
                    </td>
                    <td>11:45
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td>6
                    </td>
                    <td>12:50
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td>7
                    </td>
                    <td>1:55
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td>8
                    </td>
                    <td>3:00
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td>9
                    </td>
                    <td>4:05
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td>10
                    </td>
                    <td>5:10
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td>11
                    </td>
                    <td>6:15
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td>E1
                    </td>
                    <td>7:20
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td>E2
                    </td>
                    <td>8:20
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td>E3
                    </td>
                    <td>9:20
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
              </table>


			 </div>

            <div id="courseScheduleDiv" class="currentSchedule">
              <table id="courseSchedule-table" class="table table-bordered" style= "display:">
                  <tr>
                    <th>Section</th>
                    <th>Type</th>
                    <th>Course</th>
                    <th>Credits</th>
                    <th>Days</th>
                    <th>Periods</th>
                    <th>Bldg</th>
                    <th>Room</th>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
              </table>
            </div>

            <!-- <h3>Past Schedules</h3>
            <p><a href="/pasth">Obtain Past Course History</a> </p> -->
            

         </div>
       
     </div>
{%endblock%}