{%extends "base.html"%}
{%load course_filter%}
{%block content%}
<div class="row-fluid">
<div id="schedule-options" class="thumbnail box span4">
	<h2>Options</h2>
	<table id="courses-list">
		<tr>
			<th>Course Number</th>
			<th>Course Name</th>
		</tr>
	{% for course in courses %}
		<tr>
			<td>{{course.name}}</td>
			<td>{{course.cname}}</td>
		</tr>
	{% endfor %}
	</table>
	<FORM METHOD="POST" ACTION="/schedule/">
	<br/>
	Number of Courses: <b>{{totalC}}</b>
	<p>Number of Courses Wanted in Schedule:
        <input TYPE="text" id="num-courses" type="number" name="numc" size="5" value="{{request.POST.numc}}" class="option-box"/>
        <br/><br/>
        <p>Days to schedule classes</p>
		M: <input type="checkbox" name="days" value="M" checked/>
		T: <input type="checkbox" name="days" value="T" checked/>
		W: <input type="checkbox" name="days" value="W" checked/>
		R: <input type="checkbox" name="days" value="R" checked/>
		F: <input type="checkbox" name="days" value="F" checked/>
		<br/><br/>
		<label for="no_before">No classes before:</label>
		<select name="no_before">
			<option value="1">Select period...</option>
			<option value="2">Pd 2</option>
			<option value="3">Pd 3</option>
			<option value="4">Pd 4</option>
			<option value="5">Pd 5</option>
			<option value="6">Pd 6</option>
			<option value="7">Pd 7</option>
			<option value="8">Pd 8</option>
			<option value="9">Pd 9</option>
			<option value="10">Pd 10</option>
			<option value="11">Pd 11</option>
			<option value="12">Pd E1</option>
			<option value="13">Pd E2</option>
			<option value="14">Pd E3</option>
		</select>
		<label for="no_after">No classes after:</label>
		<select name="no_after">
			<option value="14">Select period...</option>
			<option value="1">Pd 1</option>
			<option value="2">Pd 2</option>
			<option value="3">Pd 3</option>
			<option value="4">Pd 4</option>
			<option value="5">Pd 5</option>
			<option value="6">Pd 6</option>
			<option value="7">Pd 7</option>
			<option value="8">Pd 8</option>
			<option value="9">Pd 9</option>
			<option value="10">Pd 10</option>
			<option value="11">Pd 11</option>
			<option value="12">Pd E1</option>
			<option value="13">Pd E2</option>
		</select>
		<br/>
        <INPUT TYPE="submit" VALUE="Generate" class="btn btn-warning" name="Generate">
        <br/>
        <INPUT TYPE="submit" VALUE="Clear Generated Schedule" class="btn btn-warning" name="clear"></p>
	</FORM>
	
</div>

	<div class="thumbnail box span8">
	{% for result in results %}
		<table id="schedule-table" class="table table-bordered">
			<tr>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
			</tr>
			{% with schedule=result|format_display %}
				{% for period in schedule.0 %}
				<tr>
					{% for day in 'MTWRF' %}
						{% with course=period|get_item:day %}
							<td>							
							{% if course %}
								{% if course.1 %}
								Disc:
								{% endif %}
								{{ course.0.name }}
							{% endif %}
							</td>
						{% endwith %}
					{% endfor %}
				</tr>
				{% endfor %}
				{% if schedule.1 %}
				<tr>
					<td colspan="5">
						<p>TO ARRANGE:
							{% for course in schedule.1 %}
								{{course.name}}
							{% endfor %}
						</p>
					</td>
				</tr>
				{%endif%}
			{% endwith %}
		</table>
		<FORM METHOD="POST" ACTION="/schedule/">
			<INPUT TYPE="submit" class="btn btn-warning" name="save:{{forloop.counter}}" value = 'Save Schedule #{{forloop.counter}}'></p>
		</FORM>
		{%empty%}
		No results. Try selecting fewer courses.
		{% endfor %}
	</div>
<!--<script type="text/javascript" language="javascript">
             openPage = function(name) {
            var url = "http://campusmap.ufl.edu/?sched="+name;
            var win=window.open(url, '_blank');
            win.focus();
            }
 </script>

 {% for link in cmaps %}
<p><a href ="javascript:openPage('{{link}}')">Campus Map for Course Schedule#{{forloop.counter}}</a></p>
{% endfor %}
</div>-->
{%endblock%}
