{%extends "base.html"%}
{%load course_filter%}
{%block content%}
<div class="row-fluid">
<div id="schedule-options" class="thumbnail box span4">
	<h2>Options</h2>
	<table id="courses-list">
		<tr>
			<th>Course Number</th>
			<th>Course Name</th>
		</tr>
	{% for course in courses %}
		<tr>
			<td>{{course.name}}</td>
			<td>{{course.cname}}</td>
		</tr>
	{% endfor %}
	</table>
	<FORM METHOD="POST" ACTION="/schedule/">
	<br/>
	Number of Courses:
	<input TYPE="text" id="num-courses" type="number" name="numc" size="5"/>
	<br/><br/>
	<INPUT TYPE="submit" VALUE="Generate" class="btn btn-warning" name="Generate">
	<INPUT TYPE="submit" VALUE="Clear Generated Schedule" class="btn btn-warning" name="clear">
	</FORM>
</div>

	<div class="thumbnail box span8">
	{% for result in results %}
		<table id="schedule-table" class="table table-bordered">
			<tr>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
			</tr>
			{% with schedule=result|format_display %}
				{% for period in schedule.0 %}
				<tr>
					{% for day in 'MTWRF' %}
						{% with course=period|get_item:day %}
							<td>							
							{% if course %}
								{% if course.1 %}
								Disc:
								{% endif %}
								{{ course.0.name }}
							{% endif %}
							</td>
						{% endwith %}
					{% endfor %}
				</tr>
				{% endfor %}
				{% if schedule.1 %}
				<tr>
					<td colspan="5">
						<p>TO ARRANGE:
							{% for course in schedule.1 %}
								{{course.name}}
							{% endfor %}
						</p>
					</td>
				</tr>
				{%endif%}
			{% endwith %}
		</table>
		{% endfor %}
	</div>
<!--<script type="text/javascript" language="javascript">
             openPage = function(name) {
            var url = "http://campusmap.ufl.edu/?sched="+name;
            var win=window.open(url, '_blank');
            win.focus();
            }
 </script>

 {% for link in cmaps %}
<p><a href ="javascript:openPage('{{link}}')">Campus Map for Course Schedule#{{forloop.counter}}</a></p>
{% endfor %}
</div>-->
{%endblock%}
