/* GENERAL CLASSES */

body{
	background-color: #A6CFFF;
	font-family: Helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
	color: #000;
}

form{
	margin: 0;
}

.no-margin{
	margin: 0px !important;
}

.navbar-wrapper{
	margin-top: 25px;
}

.box{
	background: #fff;
	padding: 20px;
}

.white{
	color: white;
}

.gray{
	color: #B0B0B0;
}

/* Courses Page */
#results-table{
	text-align: center;
	width: 100%;
}

/* Schedule Page */
#schedule-options h2{
	margin-top: 0px;
}

#schedule-options button {
	width: 100%;
}

#select-courses{
	width: 93%;
}

#num-credits{
	width: 25%;
	float: right;
}


/* Footer */
#footer-wrapper{
   z-index: 100;
   bottom: 0px;
   left: 0px;
   position: fixed;
   width: 100%;
}

#footer-table{
	background: #000;
	width: 100%;
	text-align: center;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
