/* GENERAL CLASSES */

body{
        background-color: #A6CFFF;
        font-family: Helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
        color: #000;
}

form{
        margin: 0;
}

.option-box {
    width: 40px;
}

.main {
    padding-bottom: 40px;
}

.no-margin{
        margin: 0px !important;
}

.navbar-wrapper{
        margin-top: 25px;
}

.box{
        background: #fff;
        padding: 20px;
}

.white{
        color: white;
}

.gray{
        color: #B0B0B0;
}

/* Courses Page */
#results-table{
        text-align: center;
        width: 100%;
}

.col-hidden, .show-name-row {
    display: none !important;
}

@media (max-width: 980px) {
    .col-hide {
        display: none !important;
    }
}

.plus {
    font-weight: bold;
    font-size: 20px;
}

.course-add {
    cursor: pointer;
    text-decoration: none !important;
}

/* Schedule Page */
#schedule-options h2{
    margin-top: 0px;
}

#schedule-options button {
    width: 100%;
}

#courses-list{
    width: 93%;
}

#num-credits{
    width: 25%;
    float: right;
}


/* Footer */
#footer-wrapper{
   z-index: 100;
   bottom: 0px;
   left: 0px;
   position: fixed;
   width: 100%;
}

#footer-table{
        background: #000;
        width: 100%;
        text-align: center;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
}

.currentSchedule {
        width: 100%;
        height: 100%;
    border-style: groove;
        border-width: 5px;
        border-top-color: blue;
        border-right-color: #FF6A33;
        border-left-color: blue;
        border-bottom-color: #FF6A33;


}

.scheduleButtons {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffb65c), color-stop(1, #fb9e25) );
        background:-moz-linear-gradient( center top, #ffb65c 5%, #fb9e25 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb65c', endColorstr='#fb9e25');
        background-color:#ffb65c;
        -webkit-border-top-left-radius:5px;
        -moz-border-radius-topleft:5px;
        border-top-left-radius:5px;
        -webkit-border-top-right-radius:5px;
        -moz-border-radius-topright:5px;
        border-top-right-radius:5px;
        -webkit-border-bottom-right-radius:5px;
        -moz-border-radius-bottomright:5px;
        border-bottom-right-radius:5px;
        -webkit-border-bottom-left-radius:5px;
        -moz-border-radius-bottomleft:5px;
        border-bottom-left-radius:5px;
        text-indent:0px;
        border:1px solid #eeb44f;
        display:inline-block;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        font-weight:normal;
        font-style:normal;
        height:32px;
        line-height:32px;
        width:170px;
        text-decoration:none;
        text-align:center;
}
.scheduleButtons:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffb65c) );
        background:-moz-linear-gradient( center top, #fb9e25 5%, #ffb65c 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffb65c');
        background-color:#fb9e25;
}
.scheduleButtons:active {
        position:relative;
        top:1px;
}

